{% extends 'core/base.html' %}

{% block title %}{{ category.title }} | {% endblock %}

{% block content %}
<div class="columns is-multiline mb-2">
    <div class="column is-12 has-text-centered mt-2 mb-2">
        <!--Navbar-->
        {% include 'core/parts/category_nav.html' %}
        <!--/.Navbar-->
        <h2 class="is-size-3"><strong>{{ category.title }}</strong></h2>
    </div>

    {% for product in category.products.all %}
    {% include 'product/parts/list_item.html' %}
    {% endfor %}
</div>
{% endblock %}